* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

body {
    background-color: #E5E5E5;
}

main {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
} 

.logo {
    position: absolute;
    width: 5%;
    left: 30px;
    right: 37.43%;
    top: 25px;
    bottom: 0%;
}

.input-texto {
    margin-top: 90px;
    border-radius: 32px;
}

.mensagem {
    position: absolute;
    margin-top: 20px;
    margin-left: 90px;
    border-radius: 32px;
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 400px;

}

.copiar {
    position: relative;
    margin-top: 330px;
    margin-left: 205px;
    border-radius: 32px;
}

.botoes {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border-radius: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

.encriptar {
    background-color: rgb(90, 90, 153);
    color:white;
    border-radius: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

.desencriptar {
    margin-left: 30px;
    border-radius: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

.informacao {
    font-size: 15px;
}